.form-editer-patient h3 {
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 15px;
}

.form-editer-patient input[type=text] {
    margin: 0;
    margin-bottom: -10px;
}

.form-editer-patient input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: medium;
}

.form-editer-patient .box-input p{
    margin-top: 30px;
    /* color: #f1f1f1; */
}

.form-editer-patient .box-input {
    /* border: 1px solid #ccc; */
    width: 70%;
    margin: auto;
}

.form-editer-patient .btn-control {
    margin-top: 45px;
    width: 100%;
    text-align: center;
}