@font-face {
  font-family: poppins;
  src: url('./web-fonts/Poppins-Light.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: poppins, Arial, Helvetica, sans-serif;
  padding: 0;
  font-family: poppins, Impact;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #10cf2638;
}

::-webkit-scrollbar-thumb {
  background-color: #03ca7e;
  border-radius: 150px;
}

body {
  /* font-family: poppins, Arial, Helvetica, sans-serif; */
}

.app {
  position: relative;
  letter-spacing: .8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app .conteneur-onglets {
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.app .conteneur-onglets .onglets-blocs {
  width: 65%;
  display: flex;
  justify-content: space-around;
  height: 5vh;
  margin: 15px;
}

.app .conteneur-onglets .onglets-blocs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 17px;
  transition: all .4s;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(105, 99, 99, 0.705);
  letter-spacing: 1px;
  border-radius: 8px;
}

.app .conteneur-onglets .onglets-blocs .tab.dark {
  background: #18202e;
}

.app .conteneur-onglets .onglets-blocs .tab.active::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #07da5f;
  bottom: -2px;
}

.app .conteneur-onglets .onglets-blocs .tab.active {
  background: #dddbdbb9;
  border: none;
  color: #05a065;
  transition: all .4s;
}

.app .conteneur-onglets .onglets-blocs .tab.active.dark {
  color: #fff;
}

.erreur-message {
  text-align: center;
  position: relative;
  font-weight: 600;
  color: rgba(238, 42, 42, 0.952);
}

.logo-minsante {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 45%;
}

.logo-minsante-facture {
  z-index: 1111;
  position: absolute;
  transform: rotate(90deg);
  left: 75%;
}

.logo-minsante-facture.p1 {
  top: 21%;
}

.logo-minsante-facture.p2 {
  bottom: 23%;
}

.bootstrap-btn {
	display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .275rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
  cursor: pointer;
  width: 13%;
}

.bootstrap-btn.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    opacity: .65;
}

.bootstrap-btn.valider:hover {
    background-color: #0069d9;
}

.bootstrap-btn.annuler:hover {
    background-color: #df322d;
}

.bootstrap-btn.annuler {
    background-color: #ec4641;
}

li {
  color: #0e771a;
  font-weight: 600;
  width: 100%;
  padding: 0px 5px;
}

li:hover {
  cursor: pointer;
}

.chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 3px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 7px;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}